{% extends "app/base.html" %}

{% block title %}
    Register
{% endblock %}

{% load static %}

{% if user.is_authenticated %}
    <script>
        // Redirect the user if authenticated
        window.location.href = '/feed';
    </script>
{% endif %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="mt-5">
                <div class="card-body">
                    <form id="registerForm">
                        <!-- Logo -->
                        <img src="{% static 'images/kartpostal.png' %}" alt="Kartpostal Logo" class="mb-4">

                        <!-- Welcome message -->
                        <p class="mb-9">Join us.</p>

                        <!-- Username input -->
                        <div class="form-group mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Username">
                        </div>

                        <!-- Email input -->
                        <div class="form-group mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                        </div>

                        <!-- Password input -->
                        <div class="form-group mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                        </div>

                        <!-- Confirm password input -->
                        <div class="form-group mb-3">
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
                        </div>

                        <!-- Register button -->
                        <button type="submit" class="btn btn-primary btn-block">Register</button>

                        <!-- Go to login page -->
                        <div class="mt-3 text-center">
                            <p class="text-muted">Already have an account? <a href="{% url 'app:login' %}" class="font-weight-bold">Log In</a></p>
                        </div>
                    </form>

                    <!-- Messages container -->
                    <div id="messageContainer" style="display: none;">
                        <ul class="messages" id="messagesList"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const registerForm = document.getElementById('registerForm');
        const messageContainer = document.getElementById('messageContainer');
        const messagesList = document.getElementById('messagesList');
    
        registerForm.addEventListener('submit', async (event) => {
            event.preventDefault();
    
            const formData = new FormData(registerForm);
            const password = formData.get('password');
            const confirm_password = formData.get('confirm_password');
    
            if (password !== confirm_password) {
                showMessage("Passwords don't match.", 'error');
                return;
            }
    
            const data = {
                username: formData.get('username'),
                email: formData.get('email'),
                password: password,
                confirm_password: confirm_password
            };
    
            try {
                const response = await fetch('/api/register/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                });
    
                if (response.ok) {    
                    showMessage('Registration completed succesfully.', 'success');
    
                    setTimeout(() => {
                        window.location.href = '/login';
                    }, 1000);
                } else {
                    const errorData = await response.json();
                    showMessage('Registration failed', 'error');
                }
            } catch (error) {
                console.error('Error during registration:', error);
            }
        });
    
        // Function to display messages
        function showMessage(message, type) {
            messagesList.innerHTML = `<li class="${type}">${message}</li>`;
            messageContainer.style.display = 'block';
        }
    </script>    
{% endblock %}
